body{
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-size: 50px;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}